@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Rancid Tomatillos</h1>
    <h2>@Model.ReviewHeader</h2>
    <p>@Model.ReviewerName</p>
    <p>@Model.ReviewTitle</p>
    <p>@Model.MovieTitle </p>
    <p>@Model.Stars</p>
    <p>@Model.ReviewBody</p>
    <h2>Movies</h2>
</div>
